@charset "utf-8";

html, body {
	height: 100%;
	background-color:#fff;
	overflow:visible;
}
.clear {
	clear:both;
}
/* nav */

.navbar {
	font-size:16px;
	font-weight:bold;
	
}
.navbar-twine .navbar-inner {
	background-color:#77d7e7;
	background-image:none;
	border-bottom:2px dotted #fff;
	box-shadow:none;
}
.navbar .nav>li {
	line-height:40px;
}
.navbar .nav>li>a {
	text-shadow:none;
	color:rgba( 255, 255, 255, .7);
}
.navbar .nav>li>a:hover {
		color:rgba( 255, 255, 255, 1);
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
	color:rgba( 255, 255, 255, 1);
	background:none;
	box-shadow:none;
	text-shadow:none;
}
/* genreic styles */
.container-fluid {
	height:100%;
}
img.center {
	left: 50%;
	position: relative;
	margin-left:-25px;
}

.center {
	text-align:center !important;
}
.highlight {
	color:#73d7e9;
}
p {
	font-size:16px;
	line-height:21px;
	color:#808285;
}

/* vertically center elements */
.vertical-container {
	display:table;
	height:100%;
	width:100%;
}
.vertical-center {
	display:table-cell;
	vertical-align:middle;
}
.full-height, .full-height div {
	height:100%;
}


/* Center positioning */
.Center-Container {
	position: relative;
	height:100%;
}
.Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.Absolute-Center.is-Responsive {
	width: 50%;
	height: 25%;
}
/* headings */
.header {
	margin-top:70px;
}
.header .pull-left {
	margin-right: 15px;
}
.header-body {
	overflow:hidden;
	zoom:1;
	font-size:20px;
}
.header-title {
	margin: 0 0 5px;
	font-size:35px;
	color:#bcbec0;
	line-height:41px;
}
.header-note {
	font-size:12px;
	line-height:18px;
}
/* specific styling */
/* home */
#home {
	background:url("../img/header.jpg") center no-repeat;
	position:relative;
	color:#fff;
	padding:0px;
	background-position-y: -50px;

}
.container-background {
	background-color:rgba(119, 215, 231, .8);
	position:absolute;
	top:66%;
	height:130px;
	padding:55px 0px;
	width:100%;
}
.container-background h1 {
	font-size:35px;
	padding-top:20px;
}
.container-background img {
	padding:0px 37px 0px 58px;
}
/* introduction */
.intro-section {
	height:245px;
}
.intro-section:nth-of-type(even) {
	background-color:#fdfdfd;
}

/* key indicators */

#indicators {
	height:646px;
}
.indicator-container {
	height:455px;
	margin-top:70px;
}
.indicator-row {
	width:2200px;
	height:100%;
}
.indicator {
	color:#808285;
	text-align:center;
	padding:0px 0px;
	height:100%;
	float:left;
}
.indicator:nth-of-type(odd){
	background-color:#edf8f9;
}
.indicator-icon {
	margin:10px auto 10px;
	width:90px;
}
.indicator-value {
	margin:auto;
	margin-bottom:10px;
	font-size:70px;
	line-height:76px;
	color:#000;
}
.indicator-standard {
	color:#4abad8;
	height:70px;
	margin-bottom:0px;
}
.indicator-standard strong {
	color:#289fc9;
}
.indicator-note {
	font-size:15px;
	line-height:21px;
}

.carousel-control {
	left:-60px;
	top: 50%;

}
.carousel-control.right {
	right:-60px;
}

/* map */
#map {
	height:840px;
}
.map-frame {
	margin-top:20px;
	width:100%;
	height:600px;

}
/* country reports */
.report-table {
	height:auto;
}
.table th, .table td {
	border-color:transparent;
}
th {
	color:#fff;
}
th.africa {
	background-color:#ff8651;
	border:2px solid #FFF;
}
td.africa {
	background-color:rgba(255, 134, 81, .3);
	border-right:2px solid #FFF;
}
th.mideast {
	background-color:#f9cd74;
	border:2px solid #FFF;
}
td.mideast {
	background-color:rgba(249, 205, 116, .3);
	border-right:2px solid #FFF;
}
th.asia {
	background-color:#7cc27c;
	border:2px solid #FFF;
}
td.asia {
	background-color:rgba(124, 194, 124, .3);
	border-right:2px solid #FFF;
}
th.america {
	background-color:#a4c361;
	border:2px solid #FFF;
}
td.america {
	background-color:rgba(164, 195, 97, .3);
	border-right:2px solid #FFF;
}
th.europe {
	background-color:#73c5b7;
	border:2px solid #FFF;
}
td.europe {
	background-color:rgba(115, 197, 183, .3);
	border-right:2px solid #FFF;
}
/* acknowledgement */
#acknowledgement {
	height:300px;
}
#acknowledgement h1 {
	font-size:26px;
	line-height:32px;
	color:#bcbec0;
}
#acknowledgement .Absolute-Center.is-Responsive {
height: 50%;
}
/* contact */
#contact  {
	background:url("../img/footer.jpg") center no-repeat;
	padding:0px;
	height:90%;
	background-position-y: -430px;
}
#contact .span4, #contact .span8, #contact .row-fluid{
	margin:0px;
}
#contact .span4 {
	width:38%;
}
#contact .span8 {
	width:62%;
}
.contact-section {
	height:320px;
}
.contact-section .span4 {
	background-color:rgba(119, 215, 231, .5)
}
.contact-section .span8 {
	background-color:rgba(119, 215, 231, 1);
	padding:80px;
}
.contact-section p{
	color:#fff;
}
/* footer */
.footer {
	height:45px;
}
.footer p{
	margin-top:15px;
	font-size:14px;
	line-height:20px;
}
.footer-credit {
	color:#bcbec0;
}

/* REPOSONSIVE STYLES */

@media all and (max-width: 979px) {
.navbar-fixed-top {
	margin-bottom: 0px; 
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
}
}
@media all and (max-width: 767px) {
.full-height, .full-height div {
	height:auto;
}
#contact .span4 {
	background-color:rgba(119, 215, 231, 1);
	padding-top:10px;
	height:100px;
}
[class*="span"], .row-fluid [class*="span"] {
	width:100% !important;
}

}